// ============================================================================
// Basic Page Styles
// ============================================================================
// Styles to be used for most basic pages. 

.basic {
  color: red;
}