<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="{{ url() }}">
      {{ site.title }}<span class="accent-text">.</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/#big-idea-section">Expertise</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#keynote-themes-section">Keynotes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#pricing-section">Speaking Fees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://podfollow.com/return-to-people" target="_blank" rel="noopener noreferrer">Podcast</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary btn-sm ms-2" href="/#contact-form-section">Book Kaleem</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
