// ============================================================================
// Base/ Elements
// ============================================================================

// Elements
//
// Things to review before you write code here:
// - Be sure to load after "foundation" import.
// - Also, before adding styles be sure to modify variables in the
//   "base/_common.scss" file. You may not need to write any code.

// Body // HTML //
//------------------------------------------
body {
  @include media-breakpoint-up(md) {
    font-size: 21px;
  }
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

// Headings
//------------------------------------------
// Bootstrap only supports a single $headings-font-weight variable for all headings
// We set $headings-font-weight to 400 (normal) and override H1-H2 to bold
h1,
h2 {
  font-weight: 700; // Bold weight
}

// Anchors
//-----------------------------------------------------------------------------
// a {}

// a:focus {}

// a.active,
// a:active,
// a:hover {}

// Icons
//------------------------------------------


// Form Input
//-----------------------------------------------------------------------------
// input[type="text"],
// input[type="password"],
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="month"],
// input[type="week"],
// input[type="email"],
// input[type="number"],
// input[type="search"],
// input[type="tel"],
// input[type="time"],
// input[type="url"],
// textarea {
// }

// input[type="text"],
// input[type="password"],
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="month"],
// input[type="week"],
// input[type="email"],
// input[type="number"],
// input[type="search"],
// input[type="tel"],
// input[type="time"],
// input[type="url"],
// textarea {

// }

