// ============================================================================
// Theme Color Variables
// ============================================================================
// Custom color palette for kaleemclarkson.com
// Note: These variables are used throughout the site and override Bootstrap defaults

// Brand Colors
$primary-green: #43b449;
$primary-dark: #343a40;
$primary-light: #fefefe;

// Custom Global
// -------------

$orange: #f7941f;
$light-orange: #f3a65a;
$bright-orange: #ff6b35;
$red-orange: #f9411f;
$blend-red: #dc3545;

$dark-charcoal: #343a40;

$light-blue-100: #fafbff;
$light-blue-200: #c8d9f0;

$light-blue: #e5ecfd;

$dark-purple: #32303f;
$relead-orange: #f9ba76;
$teal: #35d0e4;
$teal-gray: #0d3b4d;
$dark-green: #2d7f31;
$green: #43b449;


// Bootstrap Icons // 
$clipboard: '\f28B'; // Clipboard
$plus-symbol: '\f4f9'; // Cicle Plus Symbol
$arrow-right:  '\f231'; // Triangle Right  
$circle-checkmark: '\f26a'; // Solid Circle with Chekmark 
$circle-line-checkmark: '\f26b'; // Circle lin with Chekmark

// Browns // 
$brown-50: #f6f2ef;
$brown-100: #f2ede9;
$brown-200: #e9e0c8;
$brown-300: #cec1a5;
$brown-400: #a67c52;
$brown-500: #705858;
$brown-600: #613812;
$brown-700: #30221e;


$light-brown: $brown-50;
$medium-brown: $brown-400;
$brown: $brown-600; 
$dark-brown: $brown-700;


// Grays //
$gray-50: #f7f7f7;
$gray-100: #f6f6f6 !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;


$light-gray: $gray-50;
$medium-gray: $gray-500;
$dark-gray: $gray-800;
$black: #0a0a0a;
$white: #fefefe;

// Theme Variables // 
$primary: $green;

// Button Colors // 

$btn-link-color: $white !important;
$btn-link-hover-color: $light-gray;

// Body Fonts // 
$body-background: $white;
$body-font-color: $dark-gray;
$body-font-family: 'Karla','Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$body-antialiased: true;
$global-weight-normal: normal;
$global-weight-bold: bold;
$lead-lineheight: 1.6;
$small-font: 0.875rem;
